@model ProductCRUDWebApplication1.Models.ewayBill
@{
    ViewBag.Title = "Create State";
}

<h2>Add New State</h2>

<a href="@Url.Action("Index", "State")" class="btn btn-primary">List</a>

@using (Html.BeginForm("Create", "State", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table">
        <tr>
            <td>State Name </td>
            <td>@Html.EditorFor(Model => Model.stateName, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>GSTIN </td>
            <td>@Html.EditorFor(Model => Model.GSTIN, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>EWBUsername </td>
            <td>@Html.EditorFor(Model => Model.EWBUserName, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>EWBPassword </td>
            <td>@Html.EditorFor(Model => Model.EWBPassword, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" value="Submit" , class="btn btn-success text-center" />
            </td>
        </tr>
    </table>
}