@model List<ProductCRUDWebApplication1.Models.tblProduct>
@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("Create", "Product")" class="btn btn-primary">Add New Product</a>

<h2>List of all Products</h2>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price of the Product</th>
        <th>Product Quantity</th>
        <th>Product Image</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.prod_id</td>
            <td>@item.prod_name</td>
            <td>@item.prod_price</td>
            <td>@item.prod_qty</td>
            <td>
                <img src="~/Content/Images/@item.prod_pic" alt="@item.prod_name" width="50" height="50" />
            </td>
            <td>
                <a href="@Url.Action("Edit", "Product", new { @id = item.prod_id })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", "Product", new { @id = item.prod_id })" class="btn btn-danger" onclick="return confirm('Are you sure want to delete @item.prod_name ?')">Delete</a>
            </td>
        </tr>
    }
</table>
